body {
    background-color: rgb(255, 255, 255);
    color: black;
}
/* Here you can add several style "classes" */
.map_container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 200px;
    
    /* Apply a black to transparent gradient to the borders */
    border: 1px solid transparent;
    border-image: linear-gradient(to top, rgb(255, 255, 255), transparent) 1 100%;
}

.grid-container {
    display: flex;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 0 auto;
    left : 0;
    right : 0;
    justify-content: center;
    width: max-content;
    /* center the container on the webpage */

  }
  
  .graph-container {
    display: flex;
    width: 93%;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .graph-container > div {
    width: 100%;
  }

.sunburst_container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 50px;
    margin-right: 1000px;
    height: 1000px;
    width: 2000px;
}

.packing_container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 50px;
    height: 600px;
    width: max-content;
  }
  

.rel_container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.text_container {
    text-align: justify;
    font-family: 'Helvetica Neue light';
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.img_container {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
#sunburst {
    width: 100%;
    height: 1%;
}	
a {
    font-weight: bold;
    text-decoration: none;
  }	

h1 {
    font-family: Helvetica;
    font-size: 96px;
    font-weight: bold;
    text-align:center;
    margin-top:200px;
}

h2 {
    font-family: Helvetica;
    font-size: 56px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 100px;
}

h3 {
    font-family: Helvetica;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}

h4 {
    font-family: Helvetica;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

p {
    font-family: Helvetica;
    font-size: 24px;
}
.fade {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.down-arrow {
    display: block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
    margin: auto;
    margin-top: 10px;
}

.scroll-button {
    background-color: blue;
    color: white;
    padding: 20px 20px;
    border-radius: 4px;
    font-size: 1.2rem;
    text-decoration: none;
    display: inline-block;
    margin-top: 50px;
    transition: all 0.3s ease-in-out;
    margin-bottom: 200px;
  }
  
  .scroll-button:hover {
    background-color: darkblue;
    cursor: pointer;
  }

  .padding {
    padding: 100px;
  }

  /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
  .flip-card {
      background-color: transparent;
      width: 300px;
      height: 200px;
      border: 1px solid #f1f1f1;
      perspective: 1000px;
      /* center the fliping boxes */
      margin: auto;
      display: flex;
      align-items: center;


      /* Remove this if you don't want the 3D effect */
  }

  /* This container is needed to position the front and back side */
  .flip-card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.8s;
      transform-style: preserve-3d;
  }

  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
      transform: rotateY(180deg);
  }

  /* Position the front and back side */
  .flip-card-front,
  .flip-card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      /* Safari */
      backface-visibility: hidden;
      /* margin: auto; */
        margin-left: 10px;
        margin-right: 10px;
  }

  /* Style the front side (fallback if image is missing) */
    .flip-card-front {
        background-color: lightblue;
        color: black;
        text-align: center;
        display: flex;
        margin-left: 10px;
        margin-right: 10px;
        align-items: center;
        vertical-align: middle;
    }

  /* Style the back side */
    .flip-card-back {
        background-color: darkblue;
        vertical-align: middle;
        color: white;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
        display: flex;
        align-items: center;
        transform: rotateY(180deg);
    }